<p>project-list</p>

<!--<div class="list row">-->
<!--  <div class="">-->
<!--    <div class="input-group">-->
<!--      <input-->
<!--        type="text"-->
<!--        class=""-->
<!--        placeholder="Search by title"-->
<!--        ngModel="title"-->
<!--      >-->

<!--      <div class="">-->
<!--&lt;!&ndash;        <button&ndash;&gt;-->
<!--&lt;!&ndash;          class=""&ndash;&gt;-->
<!--&lt;!&ndash;          type="button"&ndash;&gt;-->
<!--&lt;!&ndash;          (click)="searchTitle()"&ndash;&gt;-->
<!--&lt;!&ndash;        >&ndash;&gt;-->
<!--&lt;!&ndash;          Search&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="">-->
<!--    <h4>Todo list</h4>-->
<!--    <ul>-->
<!--&lt;!&ndash;      <li&ndash;&gt;-->
<!--&lt;!&ndash;        class=""&ndash;&gt;-->
<!--&lt;!&ndash;        *ngFor="let todo of todos; let i = index"&ndash;&gt;-->
<!--&lt;!&ndash;      >&ndash;&gt;-->
<!--&lt;!&ndash;        {{todo.title}}&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
