<!--<div class="main-container">-->
<!--  <h1>-->
<!--    Create your project and tasks for it-->
<!--  </h1>-->


<!--  <app-search-form></app-search-form>-->

<!--  <app-project-page></app-project-page>-->

<!--  <div style="display: none;" class="my-projects my-projects&#45;&#45;current">-->
<!--    <div class="my-projects__label">-->
<!--      New add current projects-->
<!--    </div>-->
<!--    <ul class="my-projects-list">-->
<!--      <li class="my-projects-item">-->
<!--        <div class="my-card">-->
<!--          project name-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="my-projects-item">-->
<!--        <div class="my-card">-->
<!--          project name-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="my-projects-item">-->
<!--        <div class="my-card">-->
<!--          project name-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="my-projects-item">-->
<!--        <div class="my-card">-->
<!--          project name-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="my-projects-item">-->
<!--        <div class="my-card">-->
<!--          project name-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

<!--  <div style="display: none;" class="my-projects my-projects&#45;&#45;old">-->
<!--    <div class="my-projects__label">-->
<!--      Closing project-->
<!--    </div>-->
<!--    <ul class="my-projects-list">-->
<!--      <li class="my-projects-item">-->
<!--        <div class="my-card">-->
<!--          project name-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="my-projects-item">-->
<!--        <div class="my-card">-->
<!--          project name-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="my-projects-item">-->
<!--        <div class="my-card">-->
<!--          project name-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="my-projects-item">-->
<!--        <div class="my-card">-->
<!--          project name-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="my-projects-item">-->
<!--        <div class="my-card">-->
<!--          project name-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->







